# Authentication
AUTH_SECRET=supersecretkey

# Database
DB_NAME=recars
DB_HOST=localhost
DB_PORT=27017
DB_USER=admin
DB_PASSWORD=password

# Azure (optional - image search integration)
API_IMG_URL=
API_IMG_KEY=
